---
import Layout from '../layouts/Layout.astro';
import Card from '../components/header.astro';


---

<Layout title="Hola wei">
	<main>
		<div id="Inicio" class="bg-gradient-hero bg-cover bg-center bg-fixed h-screen">	
			<header class="flex justify-between fixed w-screen">
				<div>
					<a href="#Inicio">
						<img class="w-16 h-16 top-0" src="/public/img/Log.webp">
					</a>
				</div>
				<nav class="mr-8 mt-1 text-base">
					<ul>
						<li class="inline-block ml-10">
							<a href="#Inicio" class="no-underline">Inicio</a>
						</li>
						<li class="inline-block ml-10">
							<a href="#Sobre-mi" class="no-underline">Sobre mi</a>
						</li>
						<li class="inline-block ml-10">
							<a href="#" class="no-underline">Herramientas</a>
						</li>
						<li class="inline-block ml-10">
							<a href="#" class="no-underline">Proyecto</a>
						</li>
						<li class="inline-block ml-10">
							<a href="#" class="no-underline">Contacto</a>
						</li>
					</ul>
				</nav>		
			</header>
			<div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center">
				<h1 class="text-3xl font-bold mb-1 tracking-wider">Código en la oscuridad</h1>
				<h2>Acompañado de la oscuridad, trayendo soluciones llenas de luz. </h2>
				<h2>Desarrollador web front-end y futuro profesional en cyberseguridad</h2>
			</div>
		</div>

		<div id="Sobre-mi" class="bg-fom-mi-hero bg-cover bg-center bg-fixed h-screen">
            <div class="w-[300px] h-[300px] translate-y-2/4 relative overflow-hidden rounded-[50%] left-[50px] bottom-[10%]">
				<div class="absolute w-full h-full animate-[borderMove_6s_linear_infinite] rounded-[50%] border-y-white border-[5px] border-solid border-transparent left-0 top-0 "></div>
					<img class="w-300 h-300 rounded-full" src="/public/img/FotP.webp">
			</div>
					<div class="grid grid-cols-[1fr_1fr] gap-5">
						<div class=" max-w-[350px] relative box-border top-[-180px] ml-[380px]">
							<p>Bienvenidos/as a Código en la Oscuridad, donde el arte y la programación se fusionan en un mundo tenebroso y fascinante. <a href="#modal-contenido" class="leer-mas text-custom-purple-500 cursor-pointer">Leer más</a></p>
						</div>
						<div id="modal-biografia" class="hidden fixed z-[1] w-full h-full overflow-auto bg-[rgba(0,0,0,0.5)] left-0 top-0">
							<div class="bg-[#000000c2] border w-6/12 mx-auto my-[10%] p-5 border-solid border-white">
								<span class="text-white float-right text-2xl font-bold cerrar-modal hover:text-purple-600 focus:text-purple-600 hover:no-underline focus:no-underline cursor-pointer">&times;</span>
								<p>Soy Franco, un apasionado de la creación tanto en el ámbito digital como en el analógico. Mi fascinación por lo oscuro se refleja no solo en el diseño de esta página, sino también en mi amor por el arte que evoca emociones intensas y enigmáticas.<br>
								Como multipotencial, mi curiosidad me ha llevado a explorar diversos campos, desde las finanzas hasta la escritura, pasando por la botánica. Este eclecticismo se refleja en mis proyectos, donde busco fusionar mi pasión por la programación con mis múltiples intereses.<br>
								Mi fortaleza reside en el desarrollo front-end, donde puedo dar vida a mis visiones con habilidad y precisión. Sin embargo, también aspiro a adentrarme en el apasionante mundo de la ciberseguridad, donde espero aplicar mis habilidades para proteger y asegurar el mundo digital.</p>
							</div>
						</div>

						<div class="herramientas">
							<h2>Herramientas que se usar</h2>
							<div class="grid-imagenes">
								<div class="imagen herra"><img src="/public/img/HTML.webp"></div>
								<div class="imagen herra"><img src="/public/img/css.webp"></div>
								<div class="imagen herra"><img src="/public/img/js.webp"></div>
								<div class="imagen herra"><img src="/public/img/PS.webp"></div>
								<div class="imagen herra"><img src="/public/img/Inkscape.webp"></div>
								<div class="imagen herra"><img src="/public/img/Astro.webp"></div>
							</div>
						</div>
						<div class="herramientas2">
							<h2>Herramientas que estoy aprendiendo</h2>
							<div class="grid-imagenes2">
								<div class="imagen2 herra2"><img src="/public/img/svg.webp"></div>
							    <div class="imagen2 herra2"><img src="/public/img/animejs.webp"></div>
							</div>
						</div>



					</div>


		
		
		<p>Legión de panes</p>
	</main>
</Layout>

<style>
	/* .foto-container {
        width: 300px;
        height: 300px;
		transform: translateY(50%); 
		left: 50px; 
        bottom: 10%; 
        position: relative;
        overflow: hidden; 
        border-radius: 50%;
    } */
    /* .border {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 5px solid transparent;
        border-top-color: #fff; 
        border-bottom-color: #fff; 
        border-radius: 50%;
        animation: borderMove 6s linear infinite; 
    } */
	/* .PerF {
		width: 300px;
		height: 300px;
		border-radius: 50%;
	} */


/* .contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;;
    grid-gap: 20px;
} */
/* .descripcion {
    max-width: 350px; 
    position: relative;
    box-sizing: border-box; 
    margin-left: 380px; 
	top: -180px
} */




/* .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
} */
/* .modal-contenido {
    background-color: #000000c2;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #ffffff;
    width: 50%;
} */
/* .cerrar-modal {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.cerrar-modal:hover,
.cerrar-modal:focus {
    color: rgb(173, 115, 166);
    text-decoration: none;
    cursor: pointer;
} */
/* .leer-mas {
    color: rgb(173, 115, 166);
    cursor: pointer;
} */



.herramientas {
    grid-column: 2 / span 1; 
    position: relative;
	text-align: center;
	top: -180px;
	height: auto;
}

.grid-imagenes {
    display: grid;
    grid-template-columns: repeat(3, 120px);  
	margin-left: 25%; 
	margin-top: 25px;
}

.imagen.herra {
    width: 80px; 
    height: auto; 
}
.imagen.herra:hover {}



.herramientas2 {
    grid-column: 2 / span 1; 
    position: relative;
    text-align: center;
    top: -180px;
}

.grid-imagenes2 {
    display: grid;
    grid-template-columns: repeat(2, 120px); 
	margin-left: 35%; 
}

.imagen2.herra2 {
    width: 80px; 
    height: auto; 
}


.imagen.herra,
.imagen2.herra2 {
    width: 80px;
    height: auto;
    transition: transform 0.3s ease; 
}

.imagen.herra:hover,
.imagen2.herra2:hover {
    transform: scale(1.5); 
}


	
</style> 