---
import Layout from '../layouts/Layout.astro';
import Card from '../components/header.astro';


---

<Layout title="Hola wei">
	<main>
		<div id="Inicio" class="bg-gradient-hero bg-cover bg-center bg-fixed h-screen">	
			<header class="flex justify-between fixed w-screen">
				<div>
					<a href="#Inicio">
						<img class="w-16 h-16 top-0" src="/public/img/Log.webp">
					</a>
				</div>
				<nav class="mr-8 mt-1 text-base">
					<ul>
						<li class="inline-block ml-10">
							<a href="#Inicio" class="no-underline">Inicio</a>
						</li>
						<li class="inline-block ml-10">
							<a href="#Sobre-mi" class="no-underline">Sobre mi</a>
						</li>
						<li class="inline-block ml-10">
							<a href="#" class="no-underline">Herramientas</a>
						</li>
						<li class="inline-block ml-10">
							<a href="#" class="no-underline">Proyecto</a>
						</li>
						<li class="inline-block ml-10">
							<a href="#" class="no-underline">Contacto</a>
						</li>
					</ul>
				</nav>		
			</header>
			<div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center">
				<h1 class="text-3xl font-bold mb-1 tracking-wider">Código en la oscuridad</h1>
				<h2>Acompañado de la oscuridad, trayendo soluciones llenas de luz. </h2>
				<h2>Desarrollador web front-end y futuro profesional en cyberseguridad</h2>
			</div>
		</div>

		<div id="Sobre-mi" class="bg-fom-mi-hero bg-cover bg-center bg-fixed h-screen">
			<div class="foto-container">
				<div class="imagen">
					<img class="PerF" src="/public/img/FotP.webp">
				</div>
			</div>
			<div class="descripcion">
				<p>Bienvenidos/as a Código en la Oscuridad, donde el arte y la programación se fusionan en un mundo tenebroso y fascinante. <a href="#modal-contenido" class="leer-mas">Leer más</a></p>
			</div>
			
			<div id="modal-biografia" class="modal">
				<div class="modal-contenido">
					<span class="cerrar-modal">&times;</span>
					<p>Soy Franco, un apasionado de la creación tanto en el ámbito digital como en el analógico. Mi fascinación por lo oscuro se refleja no solo en el diseño de esta página, sino también en mi amor por el arte que evoca emociones intensas y enigmáticas.<br>
					Como multipotencial, mi curiosidad me ha llevado a explorar diversos campos, desde las finanzas hasta la escriturá, pasando por la botánica. Este eclecticismo se refleja en mis proyectos, donde busco fusionar mi pasión por la programación con mis múltiples intereses.<br>
					Mi fortaleza reside en el desarrollo front-end, donde puedo dar vida a mis visiones con habilidad y precisión. Sin embargo, también aspiro a adentrarme en el apasionante mundo de la ciberseguridad, donde espero aplicar mis habilidades para proteger y asegurar el mundo digital.</p>
				</div>
			</div>
					


		
		
		<p>Legión de panes</p>
	</main>
</Layout>

<style>
	.foto-container {
    max-width: 300px;
    height: auto; 
    position: relative; 
    left: 50px; 
    bottom: 10%; 
    transform: translateY(50%); 
	border-radius: 50%;
    }
	.PerF {
		width: 300px;
		height: 300px;
		border-radius: 50%;
	}
	.descripcion {
    max-width: 350px; 
	/* height: 350px esto es para darme cuenta que el legion d e panes debe estar abajo. quizas es necesario  ponerlo en alguna parte;  */
    position: relative;
    box-sizing: border-box; 
    margin-left: 380px; 
	top: -180px
}


















	.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); 
}

.modal-contenido {
    background-color: #000000;
    margin: 10% auto; 
    padding: 20px;
    border: 1px solid #ffffff;
    width: 50%; 
}

.cerrar-modal {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.cerrar-modal:hover,
.cerrar-modal:focus {
    color: rgb(173, 115, 166);
    text-decoration: none;
    cursor: pointer;
}

.leer-mas {
    color: rgb(173, 115, 166);
    cursor: pointer;
}





	
</style> 

