---
import Layout from '../layouts/Layout.astro';
import Card from '../components/header.astro';


---

<Layout title="Hola wei">
	<main>
		<div id="Inicio" class="bg-gradient-hero bg-cover bg-center bg-fixed h-screen">	
			<header class="flex justify-between fixed w-screen">
				<div>
					<a href="#Inicio">
						<img class="w-16 h-16 top-0" src="/public/img/Log.webp">
					</a>
				</div>
				<nav class="mr-8 mt-1 text-base">
					<ul>
						<li class="inline-block ml-10">
							<a href="#Inicio" class="no-underline">Inicio</a>
						</li>
						<li class="inline-block ml-10">
							<a href="#Sobre-mi" class="no-underline">Sobre mi</a>
						</li>
						<li class="inline-block ml-10">
							<a href="#" class="no-underline">Herramientas</a>
						</li>
						<li class="inline-block ml-10">
							<a href="#" class="no-underline">Proyecto</a>
						</li>
						<li class="inline-block ml-10">
							<a href="#" class="no-underline">Contacto</a>
						</li>
					</ul>
				</nav>		
			</header>
			<div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center">
				<h1 class="text-3xl font-bold mb-1 tracking-wider">Código en la oscuridad</h1>
				<h2>Acompañado de la oscuridad, trayendo soluciones llenas de luz. </h2>
				<h2>Desarrollador web front-end y futuro profesional en cyberseguridad</h2>
			</div>
		</div>
			<!--<div id="Sobre-mi">
				<img src="/public/img/Form2.webp">
			</div>-->







		
		<p>Legión de panes</p>
	</main>
</Layout>

<style>
</style> 

