---
import Layout from '../layouts/Layout.astro';
import Card from '../components/header.astro';


---

<Layout title="Hola wei">
	<main>
		<div id="Inicio" class="bg-gradient-hero bg-cover bg-center bg-fixed h-screen">	
			<header class="flex justify-between fixed w-screen z-50 top-1 ">
				<div>
					<a href="#Inicio">
						<img class="w-16 h-16" src="/public/img/Log.webp">
					</a>
				</div>
				<nav class="mr-8 mt-1 text-base">
					<ul>
						<li class="inline-block ml-10">
							<a href="#Inicio" class="no-underline">Inicio</a>
						</li>
						<li class="inline-block ml-10">
							<a href="#Sobre-mi" class="no-underline">Sobre mí</a>
						</li>
						<li class="inline-block ml-10">
							<a href="#Herramientas" class="no-underline">Herramientas</a>
						</li>
						<li class="inline-block ml-10">
							<a href="#" class="no-underline">Proyectos</a>
						</li>
					</ul>
				</nav>		
			</header>
			<div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center">
				<h1 class="text-3xl font-bold mb-1 tracking-wider">Código en la oscuridad</h1>
				<h2>Acompañado de la oscuridad, trayendo soluciones llenas de luz. </h2>
				<h2>Desarrollador web front-end y futuro profesional en cyberseguridad</h2>
			</div>
		</div>
		<div id="Sobre-mi" class="bg-fom-mi-hero bg-cover bg-center bg-fixed h-screen">
            <div class="w-[300px] h-[300px] translate-y-2/4 relative overflow-hidden rounded-[50%] left-[50px] bottom-[10%]">
				<div class="absolute w-full h-full animate-[borderMove_6s_linear_infinite] rounded-[50%] border-y-white border-[5px] border-solid border-transparent left-0 top-0 "></div>
					<img class="w-300 h-300 rounded-full" src="/public/img/Fotp.webp">
			</div>
					<div class="grid grid-cols-[1fr_1fr] gap-5 h-[350px]">
						<div class="max-w-[350px] relative box-border top-[-180px] ml-[380px]">
							<p>Bienvenidos/as a Código en la Oscuridad, donde el arte y la programación se fusionan en un mundo tenebroso y fascinante. <a href="#modal-contenido" class="leer-mas text-custom-purple-500 cursor-pointer">Leer más</a></p>
						</div>
						<div id="modal-biografia" class="hidden fixed z-[1] w-full h-full overflow-auto bg-[rgba(0,0,0,0.5)] left-0 top-0">
							<div class="bg-[#000000c2] border w-6/12 mx-auto my-[10%] p-5 border-solid border-white">
								<span class="text-white float-right text-2xl font-bold cerrar-modal hover:text-purple-600 focus:text-purple-600 hover:no-underline focus:no-underline cursor-pointer">&times;</span>
								<p>Soy Franco, un apasionado de la creación tanto en el ámbito digital como en el analógico. Mi fascinación por lo oscuro se refleja no solo en el diseño de esta página, sino también en mi amor por el arte que evoca emociones intensas y enigmáticas.<br>
								Como multipotencial, mi curiosidad me ha llevado a explorar diversos campos, desde las finanzas hasta la escritura, pasando por la botánica. Este eclecticismo se refleja en mis proyectos, donde busco fusionar mi pasión por la programación con mis múltiples intereses.<br>
								Mi fortaleza reside en el desarrollo front-end, donde puedo dar vida a mis visiones con habilidad y precisión. Sin embargo, también aspiro a adentrarme en el apasionante mundo de la ciberseguridad, donde espero aplicar mis habilidades para proteger y asegurar el mundo digital.</p>
							</div>
						</div>
						<div class="col-[2_/_span_1] relative text-center top-[-180px] h-auto">
							<h2>Herramientas que sé usar</h2>
							<div class="grid grid-cols-[repeat(3,120px)] ml-[25%] mt-[25px]">
								<div class="group w-20 h-auto transition-transform ease-in-out duration-300 transform hover:scale-125"><a href="https://developer.mozilla.org/es/docs/Web/HTML" target="_blank"><img src="/public/img/HTML.webp"></a></div>
								<div class="group w-20 h-auto transition-transform ease-in-out duration-300 transform hover:scale-125"><a href="https://developer.mozilla.org/es/docs/Web/CSS" target="_blank"><img src="/public/img/css.webp"></a></div>
								<div class="group w-20 h-auto transition-transform ease-in-out duration-300 transform hover:scale-125"><a href="https://developer.mozilla.org/es/docs/Web/JavaScript" target="_blank"><img src="/public/img/js.webp"></a></div>
								<div class="group w-20 h-auto transition-transform ease-in-out duration-300 transform hover:scale-125"><a href="https://helpx.adobe.com/photoshop/user-guide.html" target="_blank"><img src="/public/img/PS.webp"></a></div>
								<div class="group w-20 h-auto transition-transform ease-in-out duration-300 transform hover:scale-125"><a href="https://inkscape.org/es/" target="_blank"><img src="/public/img/Inkscape.webp"></a></div>
								<div class="group w-20 h-auto transition-transform ease-in-out duration-300 transform hover:scale-125"><a href="https://docs.astro.build/en/getting-started/" target="_blank"><img src="/public/img/Astro.webp"></a></div>
							</div>
						</div>
						<div class="col-[2_/_span_1] relative text-center top-[-180px]">
							<h2>Herramientas que estoy aprendiendo</h2>
							<div class="grid grid-cols-[repeat(2,120px)] ml-[35%]">
								<div class="group w-20 h-auto transition-transform ease-in-out duration-300 transform hover:scale-125"><a href="https://developer.mozilla.org/es/docs/Web/SVG" target="_blank"><img src="/public/img/svg.webp"></a></div>
							    <div class="group w-20 h-auto transition-transform ease-in-out duration-300 transform hover:scale-125"><a href="https://animejs.com/documentation/" target="_blank"><img src="/public/img/animejs.webp"></a></div>
							</div>
						</div>
					</div>

					<div id="Herramientas" class="bg-her-hero bg-cover bg-center bg-fixed">
					
						<div class="mx-auto px-20 py-5 ">
							<div class="border-b-2 border-b-white border-solid">
							    <div class="faq_question">
								    <div class="faq_question-text">
								        <h3>HTML</h3>
								    </div>
								<div class="icon">
								    <div class="icon-shape"></div>
								</div>
							</div>
							<div class="answercont">
								<div class="answer">
									<ul class="custom-list">
										<li>Estructurar correctamente la página web, usando etiquetas como 
											<span class="text-customOrange font-bold">&lt;</span>html<span class="text-customOrange font-bold">&gt;</span>,
											<span class="text-customOrange font-bold">&lt;</span>head<span class="text-customOrange font-bold">&gt;</span>,
											<span class="text-customOrange font-bold">&lt;</span>title<span class="text-customOrange font-bold">&gt;</span>y
											<span class="text-customOrange font-bold">&lt;</span>body<span class="text-customOrange font-bold">&gt;</span>.</li><br>
										<li>Crear contenido utilizando las etiquetas de semántica adecuadas, como 
											<span class="text-customOrange font-bold">&lt;</span>header<span class="text-customOrange font-bold">&gt;</span>, 
											<span class="text-customOrange font-bold">&lt;</span>nav<span class="text-customOrange font-bold">&gt;</span>, 
											<span class="text-customOrange font-bold">&lt;</span>section<span class="text-customOrange font-bold">&gt;</span>, 
											<span class="text-customOrange font-bold">&lt;</span>article<span class="text-customOrange font-bold">&gt;</span>, 
											<span class="text-customOrange font-bold">&lt;</span>aside<span class="text-customOrange font-bold">&gt;</span>, 
											<span class="text-customOrange font-bold">&lt;</span>footer<span class="text-customOrange font-bold">&gt;</span>.</li><br>
										<li>Utilizar elementos multimedia, 
											<span class="text-customOrange font-bold">&lt;</span>img<span class="text-customOrange font-bold">&gt;</span>, 
											<span class="text-customOrange font-bold">&lt;</span>video<span class="text-customOrange font-bold">&gt;</span>, 
											<span class="text-customOrange font-bold">&lt;</span>audio<span class="text-customOrange font-bold">&gt;</span>, 
											entre otros, para enriquecer la experiencia del usuario.</li><br>
										<li>Establecer enlaces y navegaciÓn, como 
											<span class="text-customOrange font-bold">&lt;</span>a<span class="text-customOrange font-bold">&gt;</span> y externos como
											<span class="font-bold text-customOrange">&lt;</span>a target=<span class="text-customOrange"> "</span>_blank<span class="text-customOrange">"
											</span><span class="font-bold text-customOrange">&gt;</span> para permitir que los usuarios naveguen cómodamente sin salir de la página.</li><br>
										<li>Utilizar tablas y listas como
											<span class="text-customOrange font-bold">&lt;</span>table<span class="text-customOrange font-bold">&gt;</span>,
											<span class="text-customOrange font-bold">&lt;</span>tr<span class="text-customOrange font-bold">&gt;</span>,
											<span class="text-customOrange font-bold">&lt;</span>td<span class="text-customOrange font-bold">&gt;</span>,
											<span class="text-customOrange font-bold">&lt;</span>th<span class="text-customOrange font-bold">&gt;</span>,
											<span class="text-customOrange font-bold">&lt;</span>ul<span class="text-customOrange font-bold">&gt;</span>,
											<span class="text-customOrange font-bold">&lt;</span>ol<span class="text-customOrange font-bold">&gt;</span> y
											<span class="text-customOrange font-bold">&lt;</span>li<span class="text-customOrange font-bold">&gt;</span>
											para organizar datos en tablas y listas de manera estructurada y legible.</li><br>
										<li>Crear formularios (<span class="text-customOrange font-bold">&lt;</span>form<span class="text-customOrange font-bold">&gt;</span>)
											interactivos con campos de entrada de texto, áreas de texto, botones, casillas de verificación
											(<span class="text-customOrange font-bold">&lt;</span>input type=<span class="text-customPink">'</span>checkbox<span class="text-customPink">'
											</span><span class="font-bold text-customOrange">></span>), botones de radio (<span class="text-customOrange font-bold">&lt;</span>input type=<span class="text-customPink">'
											</span>radio<span class="text-customPink">'</span><span class="font-bold text-customOrange">></span>), menús desplegables (<span class="text-customOrange font-bold">&lt;</span>select<span class="font-bold text-customOrange">>
											</span>), y otros elementos para recopilar información del usuario.</li><br>
										<li>Agregar meta etiquetas
											(<span class="text-customOrange font-bold">&lt;</span>meta<span class="text-customOrange font-bold">&gt;</span>)
											para proporcionar información sobre la página, como el autor, la descripción, y las palabras clave, así como para controlar el comportamiento de los motores de búsqueda y las redes sociales.</li><br>
										<li>Usar los atributos y técnicas HTML para mejorar la accesibilidad de la página web.</li><br>
										<li>Integración con CSS, JS y otras herramientas.</li><br>
										<li>Mantenimiento y actualizaciones.</li>
									</ul>
								</div>
							</div>
							</div>
							<div class="faq_container ">
							    <div class="faq_question">
								<div class="faq_question-text">
								    <h3>CSS</h3>
								</div>
								<div class="icon">
								    <div class="icon-shape"></div>
								</div>
							</div>
							<div class="answercont">
								<div class="answer">
								<ul class="custom-list">
									<li>Utilizar CSS para dar estilo a las páginas web, incluyendo la manipulación de colores, fuentes, tamaños de texto y márgenes para crear una apariencia visual atractiva y coherente.</li><br>
									<li>Implementar técnicas de diseño responsivo utilizando CSS media queries y unidades relativas (como porcentajes, ems, y rems) para asegurar que las páginas se vean bien y funcionen correctamente en una variedad de dispositivos y tamaños de pantalla.</li><br>
									<li>Crear diseños flexibles y fluidos utilizando técnicas como flexbox y grid layout, permitiendo una disposición dinámica y adaptable de elementos en la página.</li><br>
									<li>Utilizar CSS para crear animaciones y transiciones suaves, añadiendo interactividad y dinamismo a la experiencia del usuario, desde efectos simples como desvanecimientos y cambios de color hasta animaciones más complejas de elementos en movimiento.</li><br>
									<li>Diseñar interfaces de usuario atractivas y fáciles de usar mediante el uso de CSS para generar botones, formularios, menús de navegación y otros elementos de interfaz que sean intuitivos y estéticamente agradables.</li><br>
									<li>Optimizar el rendimiento de las páginas web utilizando técnicas de CSS como la combinación y minimización de archivos CSS, el uso eficiente de selectores y propiedades, y la carga asíncrona de recursos, para mejorar los tiempos de carga y la experiencia del usuario.</li><br>
									<li>Garantizar la compatibilidad con diferentes navegadores utilizando técnicas de CSS para manejar las diferencias de rendimiento y visualización entre los navegadores web populares, asegurando una experiencia uniforme para todos los usuarios.</li><br>
									<li>Diseñar y estilizar páginas web utilizando técnicas CSS para mejorar la legibilidad y la navegación para usuarios con discapacidades.</li><br>
									<li>Integración con Tailwind (framework de diseño) CSS para agilizar el proceso de desarrollo fronted.</li>
								</ul>
								</div>
							</div>
							</div>
							<div class="faq_container">
							  <div class="faq_question">
								<div class="faq_question-text">
								  <h3>JavaScript</h3>
								</div>
								<div class="icon">
								  <div class="icon-shape"></div>
								</div>
							  </div>
							  <div class="answercont">
								<div class="answer">
								  <ul class="custom-list">
									<li>Crear animaciones y efectos visuales dinámicos utilizando bibliotecas JavaScript como jQuery o utilizando las capacidades nativas de JavaScript, CSS y SVG para mejorar la experiencia visual del usuario.</li><br>
									<li>Utilizar JavaScript para agregar interactividad a las páginas web, permitiendo a los usuarios realizar acciones como hacer clic en botones, completar formularios, deslizar elementos, entre otros, y recibir respuestas en tiempo real.</li><br>
									<li>Gestionar eventos del usuario, como clics de ratón, pulsaciones de teclas, movimientos de ratón, etc., utilizando JavaScript para proporcionar una experiencia interactiva y receptiva en la página web.</li><br>
									<li>Manipular el Document Object Model (DOM) utilizando JavaScript para agregar, eliminar o modificar elementos HTML y CSS.</li>	
								  </ul><br>
								  <p><b>Cosas que estoy mejorando y aprendiendo:</b>
								  las anteriores cuatro siempre las estoy mejorando y las que estoy aprendiendo mejor son las siguientes: JQuery - AJAX y Fetch API - Manipulación de Datos - Validación de Formularios - Manejo de Errores y Excepciones - Optimización del Rendimiento - Integración con APIs y Servicios Externos</p>
								</div>
							  </div>
							</div>
							<div class="faq_container">
							  <div class="faq_question">
								<div class="faq_question-text">
								  <h3>Astro (framework)</h3>
								</div>
								<div class="icon">
								  <div class="icon-shape"></div>
								</div>
							  </div>
							  <div class="answercont">
								<div class="answer">
								  <ul class="custom-list">
									<li>Utilizar Astro Framework para crear tanto sitios web estáticos como aplicaciones web dinámicas, aprovechando su capacidad de generar sitios estáticos pre-renderizados para un rendimiento óptimo y su capacidad de manejar la reactividad dinámica cuando sea necesario.</li><br>
									<li>Aplicar mis conocimientos de HTML dentro de Astro para construir interfaces de usuario utilizando componentes reutilizables y modularizados, lo que facilita la organización y mantenimiento del código.</li><br>
									<li>Aprovechar las capacidades de Astro Framework para integrar fácilmente estilos externos, como los proporcionados por bibliotecas de CSS como Tailwind CSS, y scripts de JavaScript para mejorar la funcionalidad y la interactividad de tus aplicaciones web.</li><br>								
								  </ul>
								  <p><b>Cosas que estoy mejorando y aprendiendo:</b> explotar al máximo el pre-renderizado de rutas de Astro Framework para que solo cargue lo necesario y de el mayor rendimiento para una página web. </p>
								</div>
							  </div>
							</div>
							<div class="faq_container">
							  <div class="faq_question">
								<div class="faq_question-text">
								  <h3>Photoshop</h3>
								</div>
								<div class="icon">
								  <div class="icon-shape"></div>
								</div>
							  </div>
							  <div class="answercont">
								<div class="answer">
								  <ul class="custom-list">
									<li>Utilizar herramientas de dibujo y pintura en Photoshop para crear ilustraciones digitales o logos desde cero o para mejorar y retocar ilustraciones existentes.</li><br>
									<li>Utilizar técnicas avanzadas para agregar efectos visuales impresionantes, como efectos de iluminación, texturas, sombras y profundidad, para realzar la apariencia de las imágenes.</li><br>
									<li>Crear composiciones visuales complejas combinando varias imágenes, gráficos y elementos de diseño en una sola obra de arte cohesiva.</li><br>
									<li>Domino las técnicas de preparación de archivos para impresión, incluida la gestión del color, el ajuste del tamaño y la resolución, y la creación de archivos de salida de alta calidad.</li><br>
									<li>Editar fotografías, para mejorarlas, ya sea ajustando su color, corrigiendo imperfecciones o eliminando objetos no deseados</li>
								  </ul>
								</div>
							  </div>
							</div>
							<div class="faq_container">
								<div class="faq_question">
								  <div class="faq_question-text">
									<h3>InksCape</h3>
								  </div>
								  <div class="icon">
									<div class="icon-shape"></div>
								  </div>
								</div>
								<div class="answercont">
								  <div class="answer">
									<ul class="custom-list">
									<li>Utilizar Inkscape para crear ilustraciones vectoriales detalladas y complejas desde cero, aprovechando las herramientas de dibujo y formas. </li><br>
									<li>Utilizar técnicas avanzadas en Inkscape para crear gráficos isométricos y efectos tridimensionales, como una esfera 3d o un edificio.</li><br>
									<li>Domino las técnicas de exportación y preparación de archivos en Inkscape para garantizar que tus diseños puedan ser utilizados en una variedad de plataformas y medios, manteniendo la calidad y la integridad de los gráficos.</li><br>
									<li>Utilizar las capacidades de diseño de Inkscape para producir logotipos y gráficos de marca únicos y memorables, adaptados a las necesidades y la identidad de tu cliente.</li><br>
									<li>Utilizar herramientas de manipulación de imágenes en Inkscape para editar y retocar imágenes rasterizadas, así como para combinarlas con elementos vectoriales para crear composiciones visuales complejas.</li>								
									</ul>
								  </div>
								</div>
							  </div>  
							  <div class="faq_container">
								<div class="faq_question">
								  <div class="faq_question-text">
									<h3>Anime.js</h3>
								  </div>
								  <div class="icon">
									<div class="icon-shape"></div>
								  </div>
								</div>
								<div class="answercont">
								  <div class="answer">
									<p>Principalmente estoy aprendiendo a crear animaciones complejas, por ejemplo una esfera que al tocarla se desvanece en cientos de pedazos como si fuera un efecto desintegracion.</p>
								  </div>
								</div>
							  </div>
							  <div class="faq_container">
								<div class="faq_question">
								  <div class="faq_question-text">
									<h3>SVG</h3>
								  </div>
								  <div class="icon">
									<div class="icon-shape"></div>
								  </div>
								</div>
								<div class="answercont">
								  <div class="answer">
									  <p>Imágenes que se pueden manipular con códigos. 
										Pero para que se entienda mejor, explico abajo como funciona:<br>
										Las imágenes "SVG (Scalable Vector Graphics)" son un tipo de imagen vectorial que se guarda en formato "XML (Extensible Markup Language)".<br>
                                        Pero… ¿Qué son los vectores? Los vectores son imágenes creadas a partir de ecuaciones matemáticas en lugar de píxeles. Estas ecuaciones describen 
										formas geométricas como líneas, curvas y polígonos. Gracias a este enfoque, las imágenes vectoriales pueden ser manipuladas con precisión mediante código sin perder calidad</p>
								  </div>
								</div>
							  </div>
						  </div>

						
						  
						
						
					</div>


		
		
		<p>Legión de panes</p>
	</main>
</Layout>

<style>
	
.faq_container { 
	border-bottom: 2px solid #fff;
	
}
.faq_question {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.answercont {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
}
.answer {
  padding: 0 10px 20px;
  line-height: 1.5rem;
}
.fqa_headline_container h2 span { font-weight: 700; }
.faq_question-text h3 { font-size: 22px; }

.icon.active {
  background: transparent;
  border: 2px solid #fff;
}
.icon:hover { cursor: pointer; }
.icon-shape { position: relative; width: 50px; height: 50px; }
.icon .icon-shape::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 4px;
  background: #fff;
  border-radius: 3px;
  transition: all 0.5s ease;
}
.icon .icon-shape::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 30px;
  background: #fff;
  border-radius: 3px;
  transition: all 0.5s ease;
}
.icon .icon-shape.active::before {
  transform: translate(-50%, -50%) rotate(180deg);
  transition: all 0.5s ease;
}
.icon .icon-shape.active::after {
  transform: translate(-50%, -50%) rotate(90deg);
  transition: all 0.5s ease;
}



.custom-list {
      list-style: none; /* Oculta los puntos predeterminados de la lista */
      padding-left: 1.5em; /* Ajusta el espacio para los puntos */
    }

    .custom-list li:before {
      content: "\2022"; /* Código del carácter de punto (•) */
      color: rgb(173 115 166); /* Color de los puntos */
      font-weight: bold; /* Ajusta el grosor de los puntos */
      display: inline-block; /* Permite que los puntos se muestren en línea */
      width: 1em; /* Ancho de los puntos */
      margin-left: -1.5em; /* Ajusta la posición de los puntos para alinearlos con el texto */
    }
</style> 