---
import Layout from '../layouts/Layout.astro';
import Card from '../components/header.astro';


---

<Layout title="Hola wei">
	<main>
		<div id="Inicio" class="bg-gradient-hero bg-cover bg-center bg-fixed h-screen">	
			<header class="flex justify-between fixed w-screen">
				<div>
					<a href="#Inicio">
						<img class="w-16 h-16 top-0" src="/public/img/Log.webp">
					</a>
				</div>
				<nav class="mr-8 mt-1 text-base">
					<ul>
						<li class="inline-block ml-10">
							<a href="#Inicio" class="no-underline">Inicio</a>
						</li>
						<li class="inline-block ml-10">
							<a href="#Sobre-mi" class="no-underline">Sobre mi</a>
						</li>
						<li class="inline-block ml-10">
							<a href="#" class="no-underline">Herramientas</a>
						</li>
						<li class="inline-block ml-10">
							<a href="#" class="no-underline">Proyecto</a>
						</li>
						<li class="inline-block ml-10">
							<a href="#" class="no-underline">Contacto</a>
						</li>
					</ul>
				</nav>		
			</header>
			<div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center">
				<h1 class="text-3xl font-bold mb-1 tracking-wider">Código en la oscuridad</h1>
				<h2>Acompañado de la oscuridad, trayendo soluciones llenas de luz. </h2>
				<h2>Desarrollador web front-end y futuro profesional en cyberseguridad</h2>
			</div>
			
			<!-- <div class="contenedor2">
				<div id="rombo" class="rombo"></div>
				<a id="sobreMi" class="Sm hidden" href="#Sobre-mi">Sobre Mi</a>
			</div>
			-->
			<div class="contenedor2">
				<div id="ojo" class="ojo">
					<div class="pupila">
						<div class="iris"></div>
					</div>
				</div>
				<a id="sobreMi" class="Sm hidden" href="#Sobre-mi">Sobre Mi</a>
			</div>
			
			
			
			
			
			
			
			
			
			
		</div>


		<div id="Sobre-mi">
			<p>Legión de panes</p>
		</div>
	</main>
</Layout>

<style>
	/* main {
		margin: auto;
		padding: 1rem;
		font-size: 20px;
		line-height: 1.6;
	} */

.contenedor2 {
    display: inline-block;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.ojo {
    width: 40px;
    height: 40px;
    border-radius: 160px 0;
    background: #D8D8D8;
    overflow: hidden;
    transform: rotate(45deg);
	transition: all 0.3s ease;
}

.pupila {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #000000;
    top: 13px;
    left: 13px;
}
.Sm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 10px;
}

.oculto {
    opacity: 0;
}



</style> 