---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/public/img/Log.webp"/>
		<link rel="stylesheet" href="/src/components/matrix.css">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background: #000000;
		background-size: 224px;
		overflow-x: hidden;
		color: #fff;
	}
	::selection {
		background: #17FF00;
		color: #000;
	}
	::-webkit-scrollbar {
    width: 0;
    }
</style>
<script src="/src/components/matrix.js"></script>
<script src="/src/components/biografia.js"></script>
<script src="/src/components/Hacordeon.js"></script>
